{{- $getSecret := joinPath .chezmoi.sourceDir "dot_local/bin/executable_chezmoi-get-secret" -}}
model = "gpt-5.5"
model_reasoning_effort = "low"
sandbox_mode = "danger-full-access"
approval_policy = "never"

[projects."/home/wh3at"]
trust_level = "trusted"

[projects."/home/wh3at/Work/forge"]
trust_level = "trusted"

[projects."/home/wh3at/Work/kadou-delta-next"]
trust_level = "trusted"

[projects."/home/wh3at/Work/buddy-made-simulator"]
trust_level = "trusted"

[projects."/home/wh3at/Work/money-printer"]
trust_level = "trusted"

[projects."/home/wh3at/Work/AirportParkingBotGui"]
trust_level = "trusted"

[projects."/home/wh3at/Work/life-editor"]
trust_level = "trusted"

[tui]
status_line = ["model-with-reasoning", "pull-request-number", "context-remaining", "weekly-limit"]
status_line_use_colors = true

[tui.model_availability_nux]
"gpt-5.5" = 4

[mcp_servers.linear]
url = "https://mcp.linear.app/mcp"

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"
http_headers = { "CONTEXT7_API_KEY" = "{{ output "sh" $getSecret "context7-api-key" "APIキー" | trim }}" }

[mcp_servers.beds24-api]
command = "node"
args = ["/home/wh3at/.local/share/kadou-delta-next/mcp/beds24-api-v2-mcp/dist/server.js"]

[marketplaces.compound-engineering-plugin]
last_updated = "2026-06-09T22:47:37Z"
last_revision = "4719dc509fdc45656a830e3ed6060f674e206076"
source_type = "git"
source = "https://github.com/EveryInc/compound-engineering-plugin.git"

[plugins."compound-engineering@compound-engineering-plugin"]
enabled = true

[features]
default_mode_request_user_input = true
